{{#sanctuaries}}
<div class="reportSection tableContainer">
  <h4>Habitats within {{numSanctuaries}} {{^sanctuaryPlural}}Sanctuary{{/sanctuaryPlural}}{{#sanctuaryPlural}}Sanctuaries{{/sanctuaryPlural}}</h4>
  <table>
    <thead>
      <tr>
        <th>Habitat</th>
        <th>Percent of Total Habitat</th>
        <th>Meets 33% goal</th>
      </tr>
    </thead>
    <tbody>
      {{#sanctuaryHabitat}}
      <tr class="{{#meetsGoal}}metGoal{{/meetsGoal}}">
        <td>{{HabType}}</td>
        <td>{{Percent}} %</td>
        <td>{{#meetsGoal}}yes{{/meetsGoal}}{{^meetsGoal}}no{{/meetsGoal}}</td>
      </tr>
      {{/sanctuaryHabitat}}
    </tbody>
  </table>
  <p>
    Percentages shown represent the proportion of habitats available in 
    Barbuda's entire 3 nautical mile boundary captured within sanctuaries. <br>
    <a href="#" data-toggle-node="533ddf86a498867c56c6c830">show habitats layer</a>
  </p>
</div>
{{/sanctuaries}}

{{#moorings}}
<div class="reportSection tableContainer">
  <h4>Habitats within {{numMoorings}} Mooring Area{{#mooringPlural}}s{{/mooringPlural}}</h4>
  <table>
    <thead>
      <tr>
        <th>Habitat</th>
        <th>Percent of Total Habitat</th>
      </tr>
    </thead>
    <tbody>
      {{#mooringData}}
      <tr>
        <td>{{HabType}}</td>
        <td>{{Percent}} %</td>
      </tr>
      {{/mooringData}}
    </tbody>
  </table>
<!--   <p>
    Percentages shown represent the proportion of habitats available in 
    Barbuda's entire 3 nautical mile boundary captured within mooring 
    areas.
  </p> -->
</div>
{{/moorings}}

{{#hasNoNetZones}}
<div class="reportSection tableContainer">
  <h4>Habitats within {{numNoNetZones}} No Net Zone{{#noNetZonesPlural}}s{{/noNetZonesPlural}}</h4>
  <table>
    <thead>
      <tr>
        <th>Habitat</th>
        <th>Percent of Total Habitat</th>
      </tr>
    </thead>
    <tbody>
      {{#noNetZonesData}}
      <tr>
        <td>{{HabType}}</td>
        <td>{{Percent}} %</td>
      </tr>
      {{/noNetZonesData}}
    </tbody>
  </table>
  <!-- <p>
    Percentages shown represent the proportion of habitats available in 
    Barbuda's entire 3 nautical mile boundary captured within no net zones.
  </p> -->
</div>
{{/hasNoNetZones}}
<div class="reportSection">
  <h4>Marxan Analysis <a style="top:0px;" class="marxan-node" href="#" data-toggle-node="533de20aa498867c56c6cba5">Show 'Scenario 1' Marxan Layer</a>&nbsp</h4>
  <select class="chosen" width="400px">
    {{#marxanAnalyses}}
    <option value="{{.}}">Scenario {{.}}</option>
    {{/marxanAnalyses}}
  </select>
  <p class="scenarioResults"><a href="http://www.uq.edu.au/marxan/" target="_blank" >Marxan</a> is conservation planning software that provides decision support for a range of conservation planning problems. In this analysis, the goal is to maximize the amount of habitat conserved. The score for a 200 square meter planning unit is the number of times it is selected in 100 runs, with higher scores indicating greater conservation value. The graph below shows the distribution of scores for all planning units within this project.</p>
  <p class="small ttip-tip">
     Tip: hover over a proposal to see details
  </p>  
  <div class="viz"></div>
  <div style="padding-top:15px;"><table class="proposalResults"></table></div>
  </br><div style="padding:0px 5px 5px 5px;"><strong>Scenario Description</strong>
    <div class="scenarioDescription"></div>
  </div>
</div>