<div class="reportSection">
  <h4>Displaced Fishing Value</h4>
    {{#hasSanctuaries}}
        <p class="large">
            This proposal includes <strong>{{numSanctuaries}}
            {{#sancPlural}}Sanctuaries{{/sancPlural}}{{^sancPlural}}Sanctuary{{/sancPlural}}</strong>,
            displacing <strong>{{sanctuaryPercent}}%</strong> of fishing value within 
            Barbuda's waters based on user reported values of fishing grounds.
        </p>
    {{/hasSanctuaries}}
    {{#hasNoNetZones}}
        <p class="large">
            This proposal includes <strong>{{numNoNetZones}}
            {{#noNetZonesPlural}}No-Net Zones{{/noNetZonesPlural}}{{^noNetZonesPlural}}No-Net Zone{{/noNetZonesPlural}}</strong>,
            displacing <strong>{{noNetZonesPercent}}%</strong> of fishing value within 
            Barbuda's waters based on user reported values of fishing grounds.
        </p>
    {{/hasNoNetZones}}
    {{#hasMoorings}}
        <p class="large">
            This proposal includes <strong>{{numMoorings}}
            Mooring and Anchorage Zone{{#mooringsPlural}}s{{/mooringsPlural}}</strong>,
            which may potentially displace <strong>{{mooringsPercent}}%</strong> of fishing value within 
            Barbuda's waters based on user reported values of fishing grounds.
        </p>
    {{/hasMoorings}}
    {{#hasShippingZones}}
        <p class="large">
            This proposal includes <strong>{{numShippingZones}}
            Shipping Zone{{#shippingZonesPlural}}s{{/shippingZonesPlural}}</strong>,
            which may potentially displace <strong>{{shippingZonesPercent}}%</strong> of fishing value within 
            Barbuda's waters based on user reported values of fishing grounds.
        </p>
    {{/hasShippingZones}}
  </p>
  <a href="#" data-toggle-node="533f16f6a498867c56c6fb57">show fishing values layer</a>
</div>
