<div class="reportSection">
  <h4>Tradeoffs</h4>
  	<p class="large" style="margin-left:15px;">
  		<a href = "http://mcclintock.msi.ucsb.edu/blog/tradeoff-analyses-in-seasketch" target="_blank">Tradeoff Analysis</a> examines the impact of lobster and conch fishing on relative ecological and fishing values. Preventing fishing in an area generally
  		increases the ecological score by reducing impacts and decreases fishing values by reducing fishing take. Stopping fishing in some areas, such as nursery grounds, can
  		increase both scores by reducing ecological impacts and increasing fish stocks. 
  	</p>
	<p class="small ttip-tip">
	   Tip: hover over a proposal to see details
	</p>
  	<div  id="tradeoff-chart" class="tradeoff-chart"></div>
</div>