<div class="reportSection tableContainer">
  <h4>{{heading}} <a href="#" style="top:0px;" data-toggle-node="533ddf86a498867c56c6c830">show habitats layer</a></h4>
  <table>
    <thead>
      <tr>
        <th>Habitat</th>
        <th>% of Total Habitat</th>
      </tr>
    </thead>
    <tbody>
      {{#habitats}}
      <tr><td>{{HabType}}</td><td>{{Percent}}</td></tr>
      {{/habitats}}
    </tbody>
  </table>
  <p>
    Percentages shown represent the proportion of habitats available in 
    Barbuda's entire 3 nautical mile boundary captured within this zone.
  </p>
</div>
<div class="reportSection">
  <h4>Marxan Analysis <a style="top:0px;" class="marxan-node" href="#" data-toggle-node="533de20aa498867c56c6cba5">Show 'Scenario 1' Marxan Layer</a>&nbsp</h4>
  <select class="chosen" width="380px">
    {{#marxanAnalyses}}
    <option value="{{.}}">Scenario {{.}}</option>
    {{/marxanAnalyses}}
  </select>
  <p class="scenarioResults"></p>
  <div class="viz"></div>
  </br><div style="padding:0px 5px 5px 5px;"><strong>Scenario Description</strong>
    <div class="scenarioDescription"></div>
  </div>
</div>
